CREATE DATABASE QLSIEUTHIDIENMAY_UML;
USE [QLSIEUTHIDIENMAY_UML]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[TONGGIA] [float] NULL,
	[MACH] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [nchar](11) NULL,
	[WEBSITE] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATK] [nchar](10) NULL,
	[CMND] [nchar](9) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nchar](11) NULL,
	[LUONG] [float] NULL,
	[GIOITINH] [nchar](5) NULL,
	[ANH] [nchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](11) NULL,
	[GIOITINH] [nchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIEMTL] [int] NULL,
	[MATK] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUNGLOAI]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUNGLOAI](
	[MACL] [nchar](10) NOT NULL,
	[TENCL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALH] [nchar](10) NOT NULL,
	[TENLH] [nvarchar](100) NULL,
	[MACL] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[ANHSP] [nvarchar](50) NULL,
	[GIABAN] [float] NULL,
	[KICHTHUOC] [nchar](50) NULL,
	[TRONGLUONG] [nchar](10) NULL,
	[MAUSAC] [nchar](10) NULL,
	[MALH] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [nchar](10) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[MACH] [nchar](10) NOT NULL,
	[TENCH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[MAKV] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [float] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITK]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITK](
	[MALTK] [nchar](10) NOT NULL,
	[TENLOAITK] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MANV] [nchar](10) NULL,
	[MANCC] [nchar](10) NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 04/08/2020 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [nchar](10) NOT NULL,
	[TENTK] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MALTK] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- NHẬP DỮ LIỆU
GO
INSERT [dbo].[CHUNGLOAI] ([MACL], [TENCL]) VALUES (N'CL001     ', N'ĐIỆN TỬ')
INSERT [dbo].[CHUNGLOAI] ([MACL], [TENCL]) VALUES (N'CL002     ', N'ĐIỆN LẠNH')
INSERT [dbo].[CHUNGLOAI] ([MACL], [TENCL]) VALUES (N'CL003     ', N'GIA DỤNG')
GO
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD01      ', N'SP001     ', 1, 11400000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD01      ', N'SP002     ', 2, 23800000)
INSERT [dbo].[CTHOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD02      ', N'SP002     ', 2, 23800000)
GO
INSERT [dbo].[CTPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (N'PN01      ', N'SP002     ', 2, 3000000, 6000000)
INSERT [dbo].[CTPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (N'PN02      ', N'SP001     ', 4, 3000000, 12000000)
INSERT [dbo].[CTPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (N'PN03      ', N'SP003     ', 2, 7000000, 14000000)
GO
INSERT [dbo].[CUAHANG] ([MACH], [TENCH], [DIACHI], [MAKV]) VALUES (N'CH01      ', N'Quận 5', N'lô g,chung cư hùng vương,p.11', N'KV01      ')
INSERT [dbo].[CUAHANG] ([MACH], [TENCH], [DIACHI], [MAKV]) VALUES (N'CH02      ', N'Tây Ninh', N'số 176 Đường 30/4, kp.4, p.3, tx.tây ninh, tỉnh tây ninh', N'KV01      ')
INSERT [dbo].[CUAHANG] ([MACH], [TENCH], [DIACHI], [MAKV]) VALUES (N'CH03      ', N'Đồng Nai', N'260 b, phạm văn thuận, p. thống nhất, tp. biên hòa', N'KV01      ')
GO
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYLAP], [TONGGIA], [MACH]) VALUES (N'HD01      ', N'KH02      ', N'NV01      ', CAST(N'2020-07-05' AS Date), 35200000, N'CH11      ')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYLAP], [TONGGIA], [MACH]) VALUES (N'HD02      ', N'KH02      ', N'NV02      ', CAST(N'2020-07-04' AS Date), 23800000, N'CH22      ')
INSERT [dbo].[HOADON] ([MAHD], [MAKH], [MANV], [NGAYLAP], [TONGGIA], [MACH]) VALUES (N'HD03      ', N'KH03      ', N'NV03      ', CAST(N'2020-08-04' AS Date), 11980000, N'CH13      ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [DIEMTL], [MATK]) VALUES (N'KH01      ', N'Nguyễn Hà Phúc Tâm', N'Hồ Chí Minh', N'0123487642 ', N'Nam  ', CAST(N'1990-12-12' AS Date), NULL, N'TK12      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [DIEMTL], [MATK]) VALUES (N'KH02      ', N'Nguyễn Lương Quyền', N'Bình Định', N'0123482342 ', N'Nam  ', CAST(N'1999-03-12' AS Date), NULL, N'TK13      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SDT], [GIOITINH], [NGAYSINH], [DIEMTL], [MATK]) VALUES (N'KH03      ', N'Nguyễn Hoài Vĩ', N'Bình Định', N'0312487642 ', N'Nam  ', CAST(N'1999-02-02' AS Date), NULL, N'TK14      ')
GO
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV01      ', N'Hồ Chí Minh và lân cận')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV02      ', N'Các tỉnh miền Tây')
INSERT [dbo].[KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV03      ', N'Các tỉnh miền Trung')
GO
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [MACL]) VALUES (N'LH001     ', N'TIVI LED', N'CL001     ')
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [MACL]) VALUES (N'LH002     ', N'DÀN MÁY', N'CL001     ')
INSERT [dbo].[LOAIHANG] ([MALH], [TENLH], [MACL]) VALUES (N'LH003     ', N'LOA THANH (SOUNDBAR)', N'CL001     ')
GO
INSERT [dbo].[LOAITK] ([MALTK], [TENLOAITK]) VALUES (N'MAL01     ', N'Tài khoản admin')
INSERT [dbo].[LOAITK] ([MALTK], [TENLOAITK]) VALUES (N'MAL02     ', N'Tài khoản nhân viên')
INSERT [dbo].[LOAITK] ([MALTK], [TENLOAITK]) VALUES (N'MAL03     ', N'Tài khoản khách hàng')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [WEBSITE]) VALUES (N'NCC001    ', N'SONY', N'Tầng 6 & 7, Tòa nhà President Place,93 Nguyễn Du, Quận 1. Tp. HCM', N'02838222227', N'SONY.COM.VN                                       ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [WEBSITE]) VALUES (N'NCC002    ', N'LG', N'Lô CN2, KCN Tràng Duệ, xã Lê Lợi, huyện An Dương, thành phố Hải Phòng, Việt Nam', N'249345151  ', N'LG.COM                                            ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [WEBSITE]) VALUES (N'NCC003    ', N'PANASONIC', N'Lô J1-J2, Khu công nghiệp Thăng Long, xã Kim Chung, huyện Đông Anh, Tp. Hà Nội, Việt Nam', N'0439550111 ', N'PANASONIC.COM                                     ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [MATK], [CMND], [NGAYSINH], [SDT], [LUONG], [GIOITINH], [ANH]) VALUES (N'NV01      ', N'Nguyễn Văn Khai', N'HCM', N'TK02      ', N'231054856', CAST(N'1998-05-12' AS Date), N'09832457621', 7000000, N'Nam  ', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [MATK], [CMND], [NGAYSINH], [SDT], [LUONG], [GIOITINH], [ANH]) VALUES (N'NV02      ', N'Nguyễn Văn Điệp', N'HCM', N'TK03      ', N'232563426', CAST(N'1997-04-21' AS Date), N'01232324121', 8000000, N'Nam  ', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [MATK], [CMND], [NGAYSINH], [SDT], [LUONG], [GIOITINH], [ANH]) VALUES (N'NV03      ', N'Nguyễn Văn Tuấn', N'HCM', N'TK04      ', N'231054856', CAST(N'1988-05-23' AS Date), N'09834117621', 7000000, N'Nam  ', NULL)
GO
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MANCC], [TONGTIEN]) VALUES (N'PN01      ', CAST(N'2020-07-04' AS Date), N'NV01      ', N'NCC001    ', 6000000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MANCC], [TONGTIEN]) VALUES (N'PN02      ', CAST(N'2020-07-04' AS Date), N'NV01      ', N'NCC001    ', 12000000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV], [MANCC], [TONGTIEN]) VALUES (N'PN03      ', CAST(N'2020-07-04' AS Date), N'NV01      ', N'NCC001    ', 14000000)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [ANHSP], [GIABAN], [KICHTHUOC], [TRONGLUONG], [MAUSAC], [MALH]) VALUES (N'SP001     ', N'Android Tivi Sony 4K 43 inch KD-43X8000G VN3 O3', N'HINHANH1', 11400000, N'97 x 57 x 5.7 cm                                  ', N'9.6 kg    ', N'ĐEN       ', N'LH001     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [ANHSP], [GIABAN], [KICHTHUOC], [TRONGLUONG], [MAUSAC], [MALH]) VALUES (N'SP002     ', N'Smart Tivi LG 43 Inch 4K UHD 43UM7100PTA O1', N'HINHANH2', 11900000, N'97.5 x 57.4 x 8.03 cm                             ', N'8.3 Kg    ', N'ĐEN       ', N'LH001     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [ANHSP], [GIABAN], [KICHTHUOC], [TRONGLUONG], [MAUSAC], [MALH]) VALUES (N'SP003     ', N'Smart Tivi Panasonic 32 Inch TH-32GS550V O3', N'HINHANH3', 5990000, N'72.0 x 8.9 x 42 cm                                ', N'9.6 kg    ', N'ĐEN       ', N'LH001     ')
GO
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTK], [MATKHAU], [MALTK]) VALUES (N'TK01      ', N'admin01', N'admin123', N'MAL01     ')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTK], [MATKHAU], [MALTK]) VALUES (N'TK02      ', N'nhanvien01', N'nhanvien123', N'MAL02     ')
INSERT [dbo].[TAIKHOAN] ([MATK], [TENTK], [MATKHAU], [MALTK]) VALUES (N'TK03      ', N'nhanvien02', N'nhanvien123', N'MAL02     ')
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHD]) REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MAPN]) REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SP] FOREIGN KEY([MASP]) REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_SP]
GO
ALTER TABLE [dbo].[CUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CUAHANG_KHUVUC] FOREIGN KEY([MAKV]) REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[CUAHANG] CHECK CONSTRAINT [FK_CUAHANG_KHUVUC]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_CH] FOREIGN KEY([MACH]) REFERENCES [dbo].[CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_CH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MAKH]) REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANV]) REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MATK]) REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[LOAIHANG]  WITH CHECK ADD  CONSTRAINT [FK_LOAIHANG_CHUNGLOAI] FOREIGN KEY([MACL]) REFERENCES [dbo].[CHUNGLOAI] ([MACL])
GO
ALTER TABLE [dbo].[LOAIHANG] CHECK CONSTRAINT [FK_LOAIHANG_CHUNGLOAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_KHACHHANG] FOREIGN KEY([MATK]) REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([MANCC]) REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NV] FOREIGN KEY([MANV]) REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAIHANG] FOREIGN KEY([MALH]) REFERENCES [dbo].[LOAIHANG] ([MALH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAIHANG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITK] FOREIGN KEY([MALTK]) REFERENCES [dbo].[LOAITK] ([MALTK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITK]
GO

